{% load static %}
{% with request.resolver_match.url_name as url_name %}
{% if url_name != 'home' %}
<button type="button" class="btn" data-bs-toggle="modal" style="box-shadow:none" data-bs-target="#tempmodal">
    <div class="col">
      <div class="card">
        <p class="classy mb-0"><span style="font-size: 20px;color:rgb(243, 243, 243) ; font-weight: 700;">E</span>ngine temp</p>
        <img src="{% static '' %}img/temp.png" class="card-img" alt="Speed">
          <p class="my-2 text-white"> {{car_detail.car_tempreture}} F</p>
      </div>
    </div>
</button>
{% else %}
<button type="button" class="btn" data-bs-toggle="" style="box-shadow:none" data-bs-target="#tempmodal">
    <div class="col">
      <div class="card">
        <p class="classy mb-0"><span style="font-size: 20px;color:rgb(243, 243, 243) ; font-weight: 700;">E</span>ngine temp</p>
        <img src="{% static '' %}img/temp.png" class="card-img" alt="Speed">
          <p class="my-2 text-white"></p>
      </div>
    </div>
</button>
{% endif %}
{% endwith %}

<div class="modal fade" id="tempmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Engine Temp</h5>
        <button type="button" class="btn-close" style="box-shadow:none" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <div class="themeter">
          <canvas id="canvas" width="300" height="300">
            <style>
              
              #canvas {
                display: block;
                width: 300px;
                margin: 100px auto;
              }
              
              /* Custom font numbers */
              @font-face {
                font-family: "Helvetica LT Condensed", Helvetica, Arial, sans-serif;
              }
            </style>
          </div> 
          <p class="modaltext2 text-center">temp is {{car_detail.car_tempreture}} F</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  (function () {
    window.onload = function () {
      // canvas initialization
      var canvas = document.getElementById("canvas");
      var ctx = canvas.getContext("2d");
      // dimensions
      var W = canvas.width;
      var H = canvas.height;
      // Variables
      var difference = 0;
      var degrees = 0;
      var new_degrees;
      var fgcolor = "black";
      var bgcolor = "#fff";
      var text;
      var animation_loop, redraw_loop;
  
      function init() {
        // Clear the canvas everytime a chart is drawn
        ctx.clearRect(0, 0, W, H);
        // Background 360 degrees arc
        ctx.beginPath();
        ctx.strokeStyle = bgcolor;
        ctx.lineWidth = 30;
        ctx.arc(W/2, H/2, 100, 0,  Math.PI, false); // draws the arc
        ctx.stroke();
  
        // gauge will be a simple arc
        // angle in radians = deg * PI / 180
        var radians = degrees * Math.PI / 50;
        var shiftToTop = Math.PI / 2; // start graph at top
        ctx.beginPath();
        ctx.strokeStyle = fgcolor;
        ctx.lineWidth = 30;
        ctx.arc(W/2, H/2, 100, 0 - shiftToTop, radians - shiftToTop, false);
        ctx.stroke();
        
        // add the text
        ctx.fillStyle = fgcolor;
        ctx.font = '50px Helvetica LT Condensed';
        text = Math.floor({{car_detail.car_tempreture}}) + 'F';
        var text_width = ctx.measureText(text).width;
        ctx.fillText(
          text, W/2 - text_width/2, H/2 + 15
        );
      }
    
      function draw() {
        // cancel any motion if a new chart is requested
        if(typeof animation_loop !== undefined) { clearInterval(animation_loop); }
        // random degrees
        new_degrees = Math.round({{car_detail.car_tempreture}});
        difference = new_degrees - degrees;
        // This will animate the gauge to new positions
        // The animation will take 1 second
        // Time for each frame is 1sec/difference in degrees
        animation_loop = setInterval(animate_to, 1000/difference);
      }
      
      // make the chart move to new degrees
      function animate_to() {
        if (degrees < new_degrees) {
          degrees += 1;
        }
        else {
          degrees -= 1;
        }
        
        if (degrees === new_degrees) {
          // clear animation loop when degrees reaches new deagrees
          clearInterval(animation_loop);
        }
        init();
      }
      
      draw();
      redraw_loop = setInterval(draw, 2000); // draw a new chart every 2 seconds
    }
  }());
</script>
